body {
    background-color: #E8E8E8;
}

.smart-theme-color {
	background-color: #f6442b;
}

.layout {
	max-width: 640px;
	margin: 0 auto;
	position: relative;

}

.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.mui-title {
	color: #333;
}

/*home页*/ 
.home-layout .mui-content {
	background-color: #E8E8E8;
}
.mui-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px #dedede;
    box-shadow: 0 0 2px #dedede;
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #f24827;
}

.mui-bar-tab .mui-tab-item {
    color: #919191;
}

/*搜索框开始*/
.search-box {
	margin: 10px;
} 

.search-box input {
	padding-left: 40px;
}

/*搜索框结束*/ 



/*cart页*/ 
a {
	color: #919191;
}


.cart-layout .mui-bar-tab~.mui-content {
	padding-bottom: 110px;
}

.mui-bar .mui-btn-link {
	color: #919191;
}

/*选中颜色*/ 
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
	color: #f6442b;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
	left: 0;
}

.mui-input-row label {
    padding: 12px 15px 3px 0;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {
	padding-left: 33px;
	padding-right: 0px;
}
.mui-slider-handle label > div {
	float: left;
}
.mui-slider-handle label > .product-list-img {
	width: 35%;
}

.mui-slider-handle label > .product-list-img img {
	width: 100%;
}

.mui-slider-handle label > .product-list-info {
	width: 65%;
	padding-left: 10px;
}

.mui-slider-handle label > .product-list-info p {
	word-wrap:break-word;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	color: #333;
}

.cart .mui-table-view-cell {
	padding: 0px 7px 0px 5px; 
	background-color: #fff;
}

.cart .mui-table-view .mui-table-view-cell {
	margin-top: 10px;
	background-color: #fff;
}

.cart .mui-table-view {
	background-color: #E8E8E8;
}



.cart .mui-table-view-cell>.mui-slider-left>.mui-btn,.cart .mui-table-view-cell>.mui-slider-right>.mui-btn {
	padding: 0 15px;
}
.cart .mui-table-view:after,.cart .mui-table-view:before {
	    background-color: transparent;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none;
}
.cart .mui-table-view-cell:after {
	background-color: transparent;
}

.mui-slider-handle .product-list-price {
	color: #f6442b;
}

.mui-slider-handle .product-list-number {
	color: #919191;
}
.settlement-box {
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 52px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #fff;
    backface-visibility: hidden;
    padding-right: 0;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.settlement-box .mui-input-row {
	width: 23%;
	float: left;
	height: 50px;
	line-height: 50px;
	color: #919191;
}

.settlement-box .total {
	color: #919191;
	width: 25%;
	float: left;
	height: 50px;
	line-height: 50px;
}

.settlement-box .total span {
	color: #f6442b;
}

.settlement-box .buy-btn {
	width: 30%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #f6442b;
	float: right;
}

/*个人页面*/
.personal-page-title {
	background-color: #fff;
	padding: 20px;
}

.img-personal {
	width: 60%;
} 

.ewm-logo {
	width: 30%;
	text-align: center;
}

.img-personal img {
	width: 35%;
	float: left;
}

.img-personal span {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	float: left;
}

.ewm-logo img {
	width: 60%;
	height: auto;
}

.me .mui-table-view {
	margin-top: 10px;
}

.me .mui-table-view-cell:last-child .mui-navigate-right:after {
	display: none;
}

.me .mui-table-view:before {
	    background-color: transparent;
}

/*more-page开始*/
.more-page>div {
	clear: both;
	margin-bottom: 10px;
}

.more-page img {
	float: left;
	width: 100%;
	height: auto;
} 
/*more-page结束*/ 

/*搜索结果页*/
.result-ul .list-li-img {
	float: left;
	width: 40%;
}

.result-ul .list-li-img img {
	width: 100%;
}

.result-ul .product-list-info {
	width: 60%;
	float: left;
	padding-left: 10px;
}

.result-ul .product-list-info p {
	    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #333;
}

.mui-pull-bottom-pocket {
    position: relative;
    bottom: 0;
    height: 60px;
}

.mui-scroll .result-ul .product-list-info span {
	color: #f6442b;
}

.result-page .mui-table-view:after, .result-page .mui-table-view:before {
    background-color: transparent;
}



.result-page .mui-table-view-cell {
	margin-top: 10px;
	background-color: #fff;
}

.result-page .mui-table-view {
	background-color: transparent;
}

.result-page .mui-table-view-cell:after {
	background-color: transparent;
}

/*no-address*/ 
.no-address {
	color: #555353;
    text-align: center;
    font-size: 18px;
    margin-top: 50%;
    font-weight: 500;
}

.mui-bar-footer.no-address {
	background-color: #f6442b;
}

.no-address a {
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #f6442b;
	text-align: center;
	color: #fff;
}




