/*字体引用*/
@font-face {
    font-family: lcallig;
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/lcallig.ttf') format('truetype');
}


body {
    background-color: #E8E8E8;
}

.smart-theme-color {
	background-color: #f81db8;
}

.layout {
	max-width: 640px;
	margin: 0 auto;
	position: relative;

}

.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.mui-title {
	color: #333;
}

/*home页*/ 




.home-layout .mui-content {
	background-color: #E8E8E8;
}
.mui-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px #dedede;
    box-shadow: 0 0 2px #dedede;
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #f24827;
}

.mui-bar-tab .mui-tab-item {
    color: #919191;
}

.mui-bar {
	max-width: 640px;
	top: 0;
	bottom: auto;
	margin: auto;
}



/*底部导航栏*/
.mui-bar-tab {
	top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 640px;
}
    
 /*首页轮播*/
.home-carousel {
    width: 100%;
    position: relative;
}

.home-carousel .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-carousel .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
}

.home-carousel .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}

.home-carousel .swiper-pagination-bullet {
	background-color: #cf76b8;
}

.home-carousel .swiper-pagination-bullet-active {
	background-color: #fff;
}



.home-search-group input,.home-search-group textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}

.home-search-group .mui-btn,
.home-search-group button,
.home-search-group input[type=button],
.home-search-group input[type=reset],
.home-search-group input[type=submit] {
	    border: 1px solid transparent;
}


/*搜索框结束*/ 
.home-search-group {
	position: fixed;
	max-width: 640px;
	top: 20px;
	left: 0px;
	right: 0px;
	bottom: auto;
	margin: auto;
	z-index: 2;
	background-color: transparent;
	height: 35px;
	padding: 0 10px;
}

.home-search-group > div {
	width: 100%;
	height: 35px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 4px;
}



.home-search-group span {
	height: 35px;
	line-height: 35px;
	background-color: transparent;
	color: #fff;
	width: 30%;
	padding-left: 10px;
	float: left;
}

.home-search-group input {
	background-color: transparent;
	width: 70%;
	height: 35px;
	float: left;
	color: #fff;
}

.iconfont.icon-sousuo {
	position: absolute;
    top: 8px;
    right: 24px;
    color: #fff;
}

.home-section-box {
	background-color: #fff;
}

.home-section-box .section-head {
	height: 40px;
	background-color: #f6442b;
	margin-top: 0;
	padding: 0 10px;
	
}

.home-section-box .section-head .section-head-text {
	color: #fff;
	line-height: 40px;
	font-family: "lcallig";
}
.home-section-box .section-head.section-head-one {
	margin-top: 5px;
}

/*.home-section-box .section-head:nth-child(1) {
	height: 40px;
	background-color: #f6442b;
	margin-top: 5px;
	padding: 0 10px;
	
}*/

.home-section-box .section-head a {
	float: right;
	width: 50px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

.home-product-carousel-box {
	margin: 10px;	
}

.home-product-carousel-box .product-lists p {
	text-align: center;
	color: #333;
}

.swiper-pagination-progress {
	background-color: transparent;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
	background-color: #b6b6b6;
}

.swiper-scrollbar-drag {
	background: rgba(0,0,0,0.2);
}

.home-ad {
	margin: 10px 0;
}

.home-ad img {
	width: 100%;
	height: auto;
}


.home-search-group input::-webkit-input-placeholder {
	color: #fff;
}
.home-search-group input:-moz-placeholder {
	color: #fff;
}
.home-search-group input::-moz-placeholder {
	color: #fff;
}
.home-search-group input:-ms-input-placeholder {
	color: #fff;
}


/*cart页*/ 
a {
	color: #919191;
}

.mui-bar-tab~.mui-content {
	background-color: #E8E8E8;
}


.cart-layout .mui-bar-tab~.mui-content {
	padding-bottom: 110px;
}

.mui-bar .mui-btn-link {
	color: #919191;
}

/*选中颜色*/ 
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
	color: #f6442b;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
	left: 0;
}

.mui-input-row label {
    padding: 12px 15px 3px 0;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {
	padding-left: 33px;
	padding-right: 0px;
}
.mui-slider-handle label > div {
	float: left;
}
.mui-slider-handle label > .product-list-img {
	width: 35%;
}

.mui-slider-handle label > .product-list-img img {
	width: 100%;
}

.mui-slider-handle label > .product-list-info {
	width: 65%;
	padding-left: 10px;
}

.mui-slider-handle label > .product-list-info p {
	word-wrap:break-word;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	color: #333;
	margin-bottom: 5px;
}

.cart .mui-table-view-cell {
	padding: 0px 7px 0px 5px; 
	background-color: #fff;
}

.cart .mui-table-view .mui-table-view-cell {
	margin-top: 10px;
	background-color: #fff;
}

.cart .mui-table-view {
	background-color: #E8E8E8;
}



.cart .mui-table-view-cell>.mui-slider-left>.mui-btn,.cart .mui-table-view-cell>.mui-slider-right>.mui-btn {
	padding: 0 15px;
}
.cart .mui-table-view:after,.cart .mui-table-view:before {
	    background-color: transparent;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none;
}
.cart .mui-table-view-cell:after {
	background-color: transparent;
}

.mui-slider-handle .product-list-price {
	color: #f6442b;
}

.mui-slider-handle .product-list-number {
	color: #919191;
}
.settlement-box {
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: auto;
    bottom: 50px;
    height: 52px;
    margin: auto;
    max-width: 640px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #fff;
    backface-visibility: hidden;
    padding-right: 0;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.settlement-box .mui-input-row {
	width: 23%;
	float: left;
	height: 50px;
	line-height: 50px;
	color: #919191;
}

.settlement-box .total {
	color: #919191;
	width: 25%;
	float: left;
	height: 50px;
	line-height: 50px;
}

.settlement-box .total span {
	color: #f6442b;
}

.settlement-box .buy-btn {
	width: 30%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #f6442b;
	float: right;
}

/*cartempty*/ 
.cart-empty-box {
	text-align: center;
	margin-top: 40%;
}
.cart-empty-box .icon-gouwuche {
	font-size: 45px;
	color: #919191;
}

.cart-empty-box p {
	color: #555353;
	margin-top: 5px;
}

.cart-empty-box a {
	display: inline-block;
	background-color: #f6442b;
	color: #fff;
	padding: 7px 15px;
}



/*个人页面*/
.personal-page-title {
	background-color: #fff;
	padding: 20px;
}

.img-personal {
	width: 60%;
} 

.ewm-logo {
	width: 30%;
	text-align: center;
}

.img-personal img {
	width: 35%;
	float: left;
}

.img-personal span {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	float: left;
}

.ewm-logo img {
	width: 60%;
	height: auto;
}

.me .mui-table-view {
	margin-top: 10px;
}

.me .mui-table-view-cell:last-child .mui-navigate-right:after {
	display: none;
}

.me .mui-table-view:before {
	    background-color: transparent;
}

/*more-page开始*/
.more-page>div {
	clear: both;
	margin-bottom: 10px;
}

.more-page img {
	float: left;
	width: 100%;
	height: auto;
} 
/*more-page结束*/ 

/*搜索结果页*/
.result-ul .list-li-img {
	float: left;
	width: 40%;
}

.result-ul .list-li-img img {
	width: 100%;
}

.result-ul .product-list-info {
	width: 60%;
	float: left;
	padding-left: 10px;
}

.result-ul .product-list-info p {
	    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #333;
}

// .result-ul .product-list-info .product-buy-info {
// 	margin-top: 5px;
// }

.mui-pull-bottom-pocket {
    position: relative;
    bottom: 0;
    height: 60px;
}

.mui-scroll .result-ul .product-list-info span {
	color: #f6442b;
}

.result-page .mui-table-view:after, .result-page .mui-table-view:before {
    background-color: transparent;
}



.result-page .mui-table-view-cell {
	margin-top: 10px;
	background-color: #fff;
}

.result-page .mui-table-view {
	background-color: transparent;
}

.result-page .mui-table-view-cell:after {
	background-color: transparent;
}

/*no-address*/ 
.no-address {
	color: #555353;
    text-align: center;
    font-size: 18px;
    margin-top: 50%;
    font-weight: 500;
}

.mui-bar-footer.no-address {
	background-color: #f6442b;
}

.no-address a {
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #f6442b;
	text-align: center;
	color: #fff;
}


/*媒体查询*/
@media screen and (min-width: 320px) and (max-width: 480px){
    /*!*iPhone < 5 Portrait*!*/
   .home-search-group span {
		width: 32%;
	}

	.home-search-group input {
		width: 68%;
	}	
    

}

@media screen and (min-width: 375px) and (max-width: 627px){
    /*!*iPhone 6*!*/
   .home-search-group span {
		width: 27%;
	}

	.home-search-group input {
		width: 73%;
	}
    

}
@media screen and (min-width: 414px) and (max-width: 736px){
    /*!*iPhone 6+ Portrait*!*/
   .home-search-group span {
		width: 25%;
	}

	.home-search-group input {
		width: 75%;
	}
   

}
@media screen and (min-width: 737px){
    /*!*大屏*!*/
   .home-search-group span {
		width: 30%;
	}

	.home-search-group input {
		width: 70%;
	}
    

}



