/*字体引用*/
@font-face {
    font-family: lcallig;
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/lcallig.ttf') format('truetype');
}


body {
    background-color: #E8E8E8;
}

.smart-theme-color {
	background-color: #f6442b;
}

.layout {
	max-width: 640px;
	margin: 0 auto;
}

#list {
			/*避免导航边框和列表背景边框重叠，看起来像两条边框似得；*/
			margin-top: -1px;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
.mui-title {
	color: #333;
}

/*home页*/ 




.home-layout .mui-content {
	background-color: #E8E8E8;
}
.mui-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px #dedede;
    box-shadow: 0 0 2px #dedede;
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #f24827;
}

.mui-bar-tab .mui-tab-item {
    color: #919191;
}

.mui-bar {
	max-width: 640px;
	top: 0;
	bottom: auto;
	margin: auto;
}



/*底部导航栏*/
.mui-bar-tab {
	top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 640px;
}
    
 /*首页轮播*/
.home-carousel {
    width: 100%;
    position: relative;
}

.home-carousel .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-carousel .swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
}

.home-carousel .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}

.home-carousel .swiper-pagination-bullet {
	background-color: #cf76b8;
}

.home-carousel .swiper-pagination-bullet-active {
	background-color: #fff;
}



.home-search-group input,.home-search-group textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}

.home-search-group .mui-btn,
.home-search-group button,
.home-search-group input[type=button],
.home-search-group input[type=reset],
.home-search-group input[type=submit] {
	    border: 1px solid transparent;
}


/*搜索框结束*/ 
.home-search-group {
	position: absolute;
	max-width: 640px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: auto;
	margin: auto;
	padding: 10px;
	z-index: 30;

}
.search-bg {
	position: absolute;
	max-width: 640px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: auto;
	margin: auto;
	z-index: 2;
	width: 100%;
	height: 55px;
	background-color: #f6442b;
	opacity: 0;
}

.home-search-group input {
	margin-bottom: 0;
}

.home-search-group > div {
	width: 100%;
	height: 35px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 4px;
}



.home-search-group span {
	height: 35px;
	line-height: 35px;
	background-color: transparent;
	color: #fff;
	width: 30%;
	padding-left: 10px;
	float: left;
}

.home-search-group input {
	background-color: transparent;
	width: 70%;
	height: 35px;
	float: left;
	color: #fff;
}

.iconfont.icon-sousuo {
	position: absolute;
    top: 16px;
    right: 24px;
    color: #fff;
}

.home-section-box {
	background-color: #fff;
}

.home-section-box .section-head {
	height: 40px;
	background-color: #f6442b;
	margin-top: 0;
	padding: 0 10px;
	position: relative;
	
}

.home-section-box .section-head .section-head-text {
	color: #fff;
	line-height: 40px;
	font-family: "lcallig";
	position: absolute;
	left: 25px;
	top: 0;
	height: 40px;
	padding: 0 10px;
	background-color: #f6442b;
	z-index: 2;
}
.home-section-box .section-head.section-head-one {
	margin-top: 5px;
}

/*.home-section-box .section-head:nth-child(1) {
	height: 40px;
	background-color: #f6442b;
	margin-top: 5px;
	padding: 0 10px;
	
}*/

.home-section-box .section-head .home-more {
	float: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.home-product-carousel-box {
	margin: 10px;	
}

.home-product-carousel-box .product-lists p {
	text-align: center;
	color: #333;
}

.swiper-pagination-progress {
	background-color: transparent;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
	background-color: #b6b6b6;
}

.swiper-scrollbar-drag {
	background: rgba(0,0,0,0.2);
}

.home-ad {
	margin: 10px 0 7px 0;
}

.home-ad img {
	width: 100%;
	height: auto;
}


.home-search-group input::-webkit-input-placeholder {
	color: #fff;
}
.home-search-group input:-moz-placeholder {
	color: #fff;
}
.home-search-group input::-moz-placeholder {
	color: #fff;
}
.home-search-group input:-ms-input-placeholder {
	color: #fff;
}

.home-line {
	width: 197px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	top: 21px;
	left: 5px;
}

.home-line-two {
	width: 228px;
}

.home-line-three {
	width: 174px;
}

.home-pick-list em {
	font-style: normal;
	color: #888;
	font-size: 12px;
}
.home-pick-list .mui-table-view-cell {
	border-bottom: 1px solid #dfdfdf;
}

.home-pick-list .mui-table-view-cell:last-child {
	border-bottom: none;
}

.classification ul {
	background-color: transparent;
	padding-bottom: 10px;
}

.classification .mui-table-view-cell img {
	width: 100%;
	float: left;
}

.classification .mui-table-view:after,.classification .mui-table-view:before {
	background-color: transparent;
}
.classification .mui-table-view-cell {
	margin-bottom: 10px;
}

.classification .mui-table-view-cell:last-child {
	margin-bottom: 0;
}

.classification .mui-table-view-cell>a:not(.mui-btn) {
	background-color: #fff;
}

.iconfont.icon-fanhuidingbu {
    position: absolute;
	bottom: 100px;
    right: 24px;
    font-size: 28px;
    z-index: 100;
    display: none;
}

/*cart页*/ 
a {
	color: #919191;
}

.mui-bar-tab~.mui-content {
	background-color: #E8E8E8;
}


.cart-layout .mui-bar-tab~.mui-content {
	padding-bottom: 110px;
}

.mui-bar .mui-btn-link {
	color: #919191;
}

/*选中颜色*/ 
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
	color: #f6442b;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
	left: 0;
}

.mui-input-row label {
    padding: 12px 15px 3px 0;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {
	padding-left: 33px;
	padding-right: 0px;
}
.mui-slider-handle label > div {
	float: left;
}
.mui-slider-handle label > .product-list-img {
	width: 35%;
}

.mui-slider-handle label > .product-list-img img {
	width: 100%;
}

.mui-slider-handle label > .product-list-info {
	width: 65%;
	padding-left: 10px;
}

.mui-slider-handle label > .product-list-info p {
	word-wrap:break-word;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	color: #333;
	margin-bottom: 5px;
}

.cart .mui-table-view-cell {
	padding: 0px 7px 0px 5px; 
	background-color: #fff;
}

.cart .mui-table-view .mui-table-view-cell {
	margin-top: 10px;
	background-color: #fff;
}

.cart .mui-table-view {
	background-color: #E8E8E8;
}



.cart .mui-table-view-cell>.mui-slider-left>.mui-btn,.cart .mui-table-view-cell>.mui-slider-right>.mui-btn {
	padding: 0 15px;
}
.cart .mui-table-view:after,.cart .mui-table-view:before {
	    background-color: transparent;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-block;
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none;
}
.cart .mui-table-view-cell:after {
	background-color: transparent;
}

.mui-slider-handle .product-list-price {
	color: #f6442b;
}

.mui-slider-handle .product-list-number {
	color: #919191;
}
.settlement-box {
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: auto;
    bottom: 50px;
    height: 52px;
    margin: auto;
    max-width: 640px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #fff;
    backface-visibility: hidden;
    padding-right: 0;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
.settlement-box .mui-input-row {
	width: 23%;
	float: left;
	height: 50px;
	line-height: 50px;
	color: #919191;
}

.settlement-box .total {
	color: #919191;
	width: 25%;
	float: left;
	height: 50px;
	line-height: 50px;
}

.settlement-box .total span {
	color: #f6442b;
}

.settlement-box .buy-btn {
	width: 30%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #f6442b;
	float: right;
}

/*cartempty*/ 
.cart-empty-box {
	text-align: center;
	margin-top: 40%;
}
.cart-empty-box .icon-gouwuche {
	font-size: 45px;
	color: #919191;
}

.cart-empty-box p {
	color: #555353;
	margin-top: 5px;
}

.cart-empty-box a {
	display: inline-block;
	background-color: #f6442b;
	color: #fff;
	padding: 7px 15px;
}



/*个人页面*/
.personal-page-title {
	background-color: #fff;
	padding: 20px;
}

.img-personal {
	width: 60%;
} 

.ewm-logo {
	width: 30%;
	text-align: center;
}

.img-personal img {
	width: 35%;
	float: left;
}

.img-personal span {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	float: left;
}

.ewm-logo img {
	width: 60%;
	height: auto;
}

.me .mui-table-view {
	margin-top: 10px;
}

.me .mui-table-view-cell:last-child .mui-navigate-right:after {
	display: none;
}

.me .mui-table-view:before {
	    background-color: transparent;
}

/*more-page开始*/
.more-page>div {
	clear: both;
	margin-bottom: 10px;
}

.more-page img {
	float: left;
	width: 100%;
	height: auto;
} 
/*more-page结束*/ 


/*add-address开始*/ 
#inputAdd {
	padding-right: 15px;
}
#inputAdd .mui-input-row label {
	width: 48%;
	padding-right: 0;
	padding-left: 15px;
}
#inputAdd .mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
	width: 60%;
	padding-right: 0;
}
.mui-input-group .mui-input-row-area {
	height: auto;
} 
#inputAdd {
	border-bottom: 15px solid #E8E8E8;
}
.mui-input-row .mui-btn+input, .mui-input-row label+input, .mui-input-row:last-child {
	background-color: #fff;
}
.setDefault {
	padding: 0 0 5px 0;
}
.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
	left: 14px;
}
.mui-checkbox.mui-left label, .mui-radio.mui-left label {
	padding-left: 47px;
}

.edit-data-item {
    padding: 20px 20px;
    border-bottom: 1px solid #e1e1e4;
    padding-left: 100px;
    position: relative;
}
.edit-data-item span {
    width: 40%;
    // font-size: 14px;
    // color: #5F5F5F;
    // text-align: justify;
    // text-align-last: justify;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.edit-data-item .edit-data-item-right input[type=text] {
    margin: 0;
    color: #666;
    font-size: 15px;
    height: 36px;
}
.edit-data-item-right {
	float: none !important;
	position: absolute;
    top: 8%;
    left: 36%;
}








/*add-address结束*/


/*refund开始*/
.refund-content {
	margin-top: 10px;
	background-color: #fff;
}
.refund-content p {
	padding: 15px;
	margin-bottom: 0;
	font-size: 17px;
	color: #444;
}
.refund-content .refundCancel {
	margin: 0 15px;
}
.refund-content textarea {
	padding: 15px 15px;
}

.submit-box {
    padding: 0 25px;
}

.refund-content .refundSubmit {
    height: 40px;
    width: 100%;
    background-color: #f6442b;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 25px 0 25px 0;
    border: none;
}

.refund-prompt {
    margin-bottom: 20px;
}

.refund-prompt p {
    padding: 0 25px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 25px;
    background-color: #E8E8E8;
}
.add-photo {
    position: absolute;
    top: 58px;
    left: 15px;
    font-size: 12px;
}
.z_photo {
    width: 92%;
    padding: 20px;
    overflow: auto;
    clear: both;
    margin: 0 15px;
    border: 1px solid #ccc;
}
.z_addImg {
    float: left;
    margin-right: 15px;
}

.z_file {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(../images/z_add.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 15px;
}

.z_file input::-webkit-file-upload-button {
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    outline: 0;
    opacity: 0;
}

.z_file input#file {
    display: block;
    width: auto;
    border: 0;
    vertical-align: middle;
}
/*遮罩层*/

.z_mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.z_alert {
    width: 50px;
    border-radius: 30px;
    background: #fff;
    font-size: 20px;
    // text-align: center;
    position: absolute;
    left: 38%;
    top: 50%;
    margin-left: -30px;
    margin-top: -60px;
}

.tck {
    text-align: center;
}
.z_alert p:nth-child(2) span {
    display: inline-block;
    width: 49%;
    height: 20px;
    line-height: 20px;
    float: left;
}
.z_img {
    margin-left: 30px;
}
.z_cancel, .z_sure {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f6442b;
}
/*refund结束*/ 

/*orders开始*/
.orders {
    margin-top: 12px;
    border-top: 2px solid #E8E8E8;
	padding-top: 10px;
}
.orders-content {
	text-align: right;
}
.orders-content a {
    font-size: 14px;
    background-color: #E8E8E8;
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 3px;
}
.mui-table-view-orders {
	margin-top: 10px;
	background-color: #fff;
}
.mui-table-view:after {
	height: 0;
	background-color: rgba(0,0,0,0);
}
.orders-ul .mui-table-view-cell:after {
	height: 0;
	background-color: rgba(0,0,0,0);	
}
.mui-content>.mui-table-view:first-child {
	background-color: rgba(0,0,0,0);
}
.orders-ul .mui-table-view {
	background-color: rgba(0,0,0,0);
}
/*orders结束*/

/*order-confirm开始*/
.order-add {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.order-add >span {
	font-size: 15px;
}
.order-con {
    position: relative;
    background-color: #fff;
}
.change-add {
    display: inline-block;
    font-size: 14px;
    height: 26px;
    background-color: #f6442b;
    color: #fff;
    position: absolute;
    right: 17px;
    bottom: 25px;
    padding: 2px 5px;
    border: 1px solid #f6442b;
    border-radius: 5px;
}
.postage-packing {
    height: 40px;
    background-color: #fff;
    line-height: 50px;
    font-size: 14px;
    overflow: hidden;
    border-top: 1px solid rgba(221, 221, 221, 0.46);
    margin-top: 11px;
}
.post-left {
	float: left;
}
.post-right {
	float: right;
}
.mui-table-view-confirm {
	margin-bottom: 10px;
}
.footer-order {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-order div {
    float: left;
}
.footer-order .total {
    width: 60%;
    text-align: right;
    padding-right: 20px;
    border: 1px solid rgba(221, 221, 221, 0.46);
}
.footer-order .submit {
    width: 40%;
    color: #fff;
    text-align: center;
    background-color: #f6442b;
}
.result-ul .mui-table-view-confirm:last-child {
	margin-bottom: 60px;
}
/*order-confirm结束*/


/*搜索结果页*/
.result-ul .list-li-img {
	float: left;
	width: 40%;
}
.result-ul .list-li-img img {
	width: 100%;
}
.result-ul .product-list-info {
	width: 60%;
	float: left;
	padding-left: 10px;
}
.result-ul .product-list-info p {
	display: inline-block;
    width: 100%;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #444;
}
.result-ul .product-list-info span {
	display: inline-block;
	padding-top: 15px;
}
.result-ul .product-list-info .product-list-price {
	float: left;
	color: #f6442b;
}
.result-ul .product-list-info .product-list-number {
	float: right;
	color: #919191;
}

.mui-pull-bottom-pocket {
    position: relative;
    bottom: 0;
    height: 60px;
}
.mui-scroll .result-ul .product-list-info span {
	color: #f6442b;
}
.result-page .mui-table-view:after, .result-page .mui-table-view:before {
    background-color: transparent;
}
.result-page .mui-table-view-cell {
	margin-top: 10px;
	background-color: #fff;
}
.result-page .mui-table-view {
	background-color: transparent;
}
.result-page .mui-table-view-cell:after {
	background-color: transparent;
}

.icon-gouwuche {
 	color: #ff0000;
 }
.water-left {
	float: left;
	color: #ff0000;
	padding: 0 0 5px 10px;
}
.water-right {
	float: right;
	padding-right: 10px;
}

/*瀑布流开始*/
.wall {
  	display: block;
  	position: relative;
  	padding: 0;
  	overflow: hidden;
  	margin-bottom: 50px;
  	padding-left: 10px;
}
.wall-column {
  	display: block;
  	position: relative;
  	width: 50%;
  	float: left;
  	padding-right: 10px;
  	box-sizing: border-box;
}
.waterfall {
  	display: block;
  	margin: 0 0 10px 0;
  	background: white;
  	border-radius: 3px;
  	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  	transition: all 100;
  	overflow: hidden;
  	position: relative;
}
.waterfall:hover { transform: scale(1.01);}
.waterfall img {
  	display: block;
  	width: 100%;
  	margin: 0 0 5% 0;
}
.waterfall a { color: #666;}
.waterfall p { 
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	width: 100%;  
	line-height: 1.5;
	padding: 0 10px;
	margin-bottom: 5px;
}
.waterfall small { 
	color: #ff0000; 
	line-height: 1.5;
}
.waterfall input { 
	width: 20%; 
	padding: 10px;   
	z-index: 100; 
	background-color: #f60; 
	border: none; 
	position: absolute; 
	bottom: 3%; right: 5%; 
	color: #fff; 
	box-shadow: 0 0 7px #d7d7d7;
}
/*瀑布流结束*/











/*no-address*/ 
.no-address {
	color: #555353;
    text-align: center;
    font-size: 18px;
    margin-top: 50%;
    font-weight: 500;
}
.mui-bar-footer.no-address {
	background-color: #f6442b;
}
.no-address a {
	display: inline-block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #f6442b;
	text-align: center;
	color: #fff;
}


/*媒体查询*/
@media screen and (min-width: 320px) and (max-width: 480px){
    /*!*iPhone < 5 Portrait*!*/
   .home-search-group span {
		width: 32%;
	}

	.home-search-group input {
		width: 68%;
	}	
    

}

@media screen and (min-width: 375px) and (max-width: 627px){
    /*!*iPhone 6*!*/
   .home-search-group span {
		width: 27%;
	}

	.home-search-group input {
		width: 73%;
	}
    

}
@media screen and (min-width: 414px) and (max-width: 736px){
    /*!*iPhone 6+ Portrait*!*/
   .home-search-group span {
		width: 25%;
	}

	.home-search-group input {
		width: 75%;
	}
   

}
@media screen and (min-width: 737px){
    /*!*大屏*!*/
   .home-search-group span {
		width: 30%;
	}

	.home-search-group input {
		width: 70%;
	}
    

}




